NAME : Saurabh Pal

COURSE : Msc.IT

SUBJECT : FDS(Fundamental of Data Science)

ASSIGNMENT 1(Coffee.csv)

COFFEE SALES(CSV)

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. Read and understand basic properties of data set.

In [ ]:
df = pd.read_csv('index.csv')
df.head()

,date,datetime,cash_type,card,money,coffee_name
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.7,Latte
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.7,Hot Chocolate
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.7,Hot Chocolate
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.9,Americano
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.7,Latte

In [ ]:
df.tail(10)

,date,datetime,cash_type,card,money,coffee_name
1198,2024-08-07,2024-08-07 22:28:56.686,card,ANON-0000-0000-0471,32.82,Latte
1199,2024-08-07,2024-08-07 22:32:15.971,card,ANON-0000-0000-0472,32.82,Latte
1200,2024-08-08,2024-08-08 08:46:36.204,card,ANON-0000-0000-0141,18.12,Espresso
1201,2024-08-08,2024-08-08 08:47:28.686,card,ANON-0000-0000-0141,23.02,Cortado
1202,2024-08-08,2024-08-08 12:27:05.373,card,ANON-0000-0000-0420,27.92,Americano with Milk
1203,2024-08-08,2024-08-08 12:43:19.558,card,ANON-0000-0000-0141,23.02,Cortado
1204,2024-08-08,2024-08-08 12:44:14.953,card,ANON-0000-0000-0141,23.02,Cortado
1205,2024-08-08,2024-08-08 16:57:53.266,card,ANON-0000-0000-0473,32.82,Cappuccino
1206,2024-08-08,2024-08-08 17:17:51.749,card,ANON-0000-0000-0474,32.82,Cappuccino
1207,2024-08-08,2024-08-08 21:25:59.265,card,ANON-0000-0000-0311,27.92,Americano with Milk

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1208 entries, 0 to 1207
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         1208 non-null   object
 1   datetime     1208 non-null   object
 2   cash_type    1208 non-null   object
 3   card         1119 non-null   object
 4   money        1208 non-null   float64
 5   coffee_name  1208 non-null   object
dtypes: float64(1), object(5)
memory usage: 56.8+ KB

In [ ]:
df.shape

(1208, 6)

2. Identify and drop columns and missing values.

In [ ]:
df.isna().sum()

date            0
datetime        0
cash_type       0
card           89
money           0
coffee_name     0
dtype: int64

In [ ]:
df.isnull().sum()

date            0
datetime        0
cash_type       0
card           89
money           0
coffee_name     0
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isna().sum()

date           0
datetime       0
cash_type      0
card           0
money          0
coffee_name    0
dtype: int64

3. Identify unique values from given dataset for each column.

In [ ]:
df.nunique()

date            158
datetime       1119
cash_type         1
card            474
money             9
coffee_name       8
dtype: int64

In [ ]:
df['coffee_name'].unique()

array(['Latte', 'Hot Chocolate', 'Americano', 'Americano with Milk',
       'Cocoa', 'Cortado', 'Espresso', 'Cappuccino'], dtype=object)

4. Create new columns for day, month and year

In [ ]:
df['date'] = pd.to_datetime(df['date'])

In [ ]:
df['day'] = df['date'].dt.day
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year
df.head()

,date,datetime,cash_type,card,money,coffee_name,review_date,day,month,year
0,2024-03-01,2024-03-01 10:15:50.520,card,ANON-0000-0000-0001,38.7,Latte,2024-03-01 10:15:50.520,1,3,2024
1,2024-03-01,2024-03-01 12:19:22.539,card,ANON-0000-0000-0002,38.7,Hot Chocolate,2024-03-01 12:19:22.539,1,3,2024
2,2024-03-01,2024-03-01 12:20:18.089,card,ANON-0000-0000-0002,38.7,Hot Chocolate,2024-03-01 12:20:18.089,1,3,2024
3,2024-03-01,2024-03-01 13:46:33.006,card,ANON-0000-0000-0003,28.9,Americano,2024-03-01 13:46:33.006,1,3,2024
4,2024-03-01,2024-03-01 13:48:14.626,card,ANON-0000-0000-0004,38.7,Latte,2024-03-01 13:48:14.626,1,3,2024

5. In cofFee-shop dataset find out sales for each month

In [ ]:
df.groupby('month')['money'].sum()

month
3    5905.20
4    5719.56
5    8164.42
6    7617.76
7    6915.94
8    2147.90
Name: money, dtype: float64

6. In cofFee-shop dataset find out total sales for each product category.

In [ ]:
df.groupby('coffee_name')['money'].sum()

coffee_name
Americano              4347.64
Americano with Milk    8781.94
Cappuccino             7164.80
Cocoa                  1270.22
Cortado                2825.28
Espresso               1030.98
Hot Chocolate          2572.30
Latte                  8477.62
Name: money, dtype: float64

7. Find out minimum and maximum price values and name of the product.

> Add blockquote

In [ ]:
df[df['money'] == df['money'].max()][['coffee_name','money']]

       coffee_name  money
0            Latte   38.7
1    Hot Chocolate   38.7
2    Hot Chocolate   38.7
4            Latte   38.7
6    Hot Chocolate   38.7
..             ...    ...
328  Hot Chocolate   38.7
329     Cappuccino   38.7
330          Cocoa   38.7
337  Hot Chocolate   38.7
338     Cappuccino   38.7

[128 rows x 2 columns]

In [ ]:
df[df['money'] == df['money'].min()][['coffee_name','money']]

     coffee_name  money
977     Espresso  18.12
1024    Espresso  18.12
1027    Espresso  18.12
1041    Espresso  18.12
1046    Espresso  18.12
1063    Espresso  18.12
1065    Espresso  18.12
1073    Espresso  18.12
1095    Espresso  18.12
1104    Espresso  18.12
1156    Espresso  18.12
1193    Espresso  18.12
1200    Espresso  18.12

8. Identify top three product categories

In [ ]:
df.groupby('coffee_name')['money'].sum().sort_values(ascending=False).head(3)

coffee_name
Americano with Milk    8781.94
Latte                  8477.62
Cappuccino             7164.80
Name: money, dtype: float64

9. How many products are there and being sold in type ‘tea’.

In [ ]:
df[df['coffee_name'] == 'tea'].shape[0]

0

10. Find average unit price of the products.

In [ ]:
df['money'].mean()

32.592296693476314