NAME : Saurabh Pal

COURSE : Msc.IT

SUBJECT : FDS(Fundamental of Data Science)

ASSIGNMENT 1(EV.csv)

EV Sales

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('IEA Global EV Data 2024.csv')
df.head()

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039
1,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.00000

In [ ]:
df.tail(10)

,region,category,parameter,mode,powertrain,year,unit,value
12644,World,Projection-STEPS,EV sales share,Vans,EV,2035,percent,41.0
12645,World,Projection-STEPS,EV sales share,Trucks,EV,2035,percent,22.0
12646,World,Projection-STEPS,EV stock share,Buses,EV,2035,percent,20.0
12647,World,Projection-STEPS,EV sales share,Buses,EV,2035,percent,29.0
12648,World,Projection-STEPS,EV stock share,Vans,EV,2035,percent,18.0
12649,World,Projection-STEPS,EV sales share,Cars,EV,2035,percent,55.0
12650,World,Projection-STEPS,EV stock share,Cars,EV,2035,percent,31.0
12651,World,Projection-APS,EV charging points,EV,Publicly available fast,2035,charging points,9400000.0
12652,World,Projection-APS,EV charging points,EV,Publicly available slow,2035,charging points,15000000.0
12653,World,Projection-STEPS,EV stock share,Trucks,EV,2035,percent,9.0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12654 entries, 0 to 12653
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      12654 non-null  object
 1   category    12654 non-null  object
 2   parameter   12654 non-null  object
 3   mode        12654 non-null  object
 4   powertrain  12654 non-null  object
 5   year        12654 non-null  int64
 6   unit        12654 non-null  object
 7   value       12654 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 791.0+ KB

In [ ]:
df.shape

(12654, 8)

2. Identify and drop columns and missing values.

In [ ]:
df.isna().sum()

region        0
category      0
parameter     0
mode          0
powertrain    0
year          0
unit          0
value         0
dtype: int64

In [ ]:
df.isnull().sum()

region        0
category      0
parameter     0
mode          0
powertrain    0
year          0
unit          0
value         0
dtype: int64

In [ ]:
df.dropna(inplace=True)

In [ ]:
df.isna().sum()

region        0
category      0
parameter     0
mode          0
powertrain    0
year          0
unit          0
value         0
dtype: int64

3. Identify unique values from given dataset for each column.

In [ ]:
df.nunique()

region          54
category         3
parameter        8
mode             5
powertrain       6
year            17
unit             6
value         1032
dtype: int64

7. Find out minimum and maximum price values and name of the product.

In [ ]:
df[df['value'] == df['value'].max()][['category','value']]

             category        value
12609  Projection-APS  440000000.0

In [ ]:
df[df['value'] == df['value'].min()][['category','value']]

        category     value
8359  Historical  0.000001

8. Identify top three product categories

In [ ]:
df.groupby('category')['value'].sum().sort_values(ascending=False).head(3)

category
Projection-APS      2.582669e+09
Projection-STEPS    2.383760e+09
Historical          4.415641e+08
Name: value, dtype: float64

10. Find average unit price of the products.

In [ ]:
df['value'].mean()

427374.1734977358