NAME : Saurabh Pal

COURSE : Msc.IT

SUBJECT : FDS(Fundamental of Data Science)

ASSIGNMENT 1(CC_INDIA.csv)

CC INDIA

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

1. Read and understand basic properties of data set.

In [ ]:
df = pd.read_excel('Coffee Shop Sales.xlsx', sheet_name='Transactions')
df.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail,Revenue,Month,Month.1,Weekday,Weekday.1,Hour
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg,6.0,1,Jan,7,Sun,7
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,6.2,1,Jan,7,Sun,7
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg,9.0,1,Jan,7,Sun,7
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm,2.0,1,Jan,7,Sun,7
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,6.2,1,Jan,7,Sun,7

In [ ]:
df.tail(10)

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail,Revenue,Month,Month.1,Weekday,Weekday.1,Hour
149106,149447,2023-06-30,19:56:45,1,8,Hell's Kitchen,33,3.50,Coffee,Gourmet brewed coffee,Ethiopia Lg,3.50,6,Jun,5,Fri,19
149107,149448,2023-06-30,19:57:49,2,3,Astoria,54,2.50,Tea,Brewed Chai tea,Morning Sunrise Chai Rg,5.00,6,Jun,5,Fri,19
149108,149449,2023-06-30,19:57:49,1,3,Astoria,70,3.25,Bakery,Scone,Cranberry Scone,3.25,6,Jun,5,Fri,19
149109,149450,2023-06-30,20:08:38,2,8,Hell's Kitchen,55,4.00,Tea,Brewed Chai tea,Morning Sunrise Chai Lg,8.00,6,Jun,5,Fri,20
149110,149451,2023-06-30,20:16:31,2,5,Lower Manhattan,42,2.50,Tea,Brewed herbal tea,Lemon Grass Rg,5.00,6,Jun,5,Fri,20
149111,149452,2023-06-30,20:18:41,2,8,Hell's Kitchen,44,2.50,Tea,Brewed herbal tea,Peppermint Rg,5.00,6,Jun,5,Fri,20
149112,149453,2023-06-30,20:25:10,2,8,Hell's Kitchen,49,3.00,Tea,Brewed Black tea,English Breakfast Lg,6.00,6,Jun,5,Fri,20
149113,149454,2023-06-30,20:31:34,1,8,Hell's Kitchen,45,3.00,Tea,Brewed herbal tea,Peppermint Lg,3.00,6,Jun,5,Fri,20
149114,149455,2023-06-30,20:57:19,1,8,Hell's Kitchen,40,3.75,Coffee,Barista Espresso,Cappuccino,3.75,6,Jun,5,Fri,20
149115,149456,2023-06-30,20:57:19,2,8,Hell's Kitchen,64,0.80,Flavours,Regular syrup,Hazelnut syrup,1.60,6,Jun,5,Fri,20

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149116 entries, 0 to 149115
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   transaction_id    149116 non-null  int64
 1   transaction_date  149116 non-null  datetime64[ns]
 2   transaction_time  149116 non-null  object
 3   transaction_qty   149116 non-null  int64
 4   store_id          149116 non-null  int64
 5   store_location    149116 non-null  object
 6   product_id        149116 non-null  int64
 7   unit_price        149116 non-null  float64
 8   product_category  149116 non-null  object
 9   product_type      149116 non-null  object
 10  product_detail    149116 non-null  object
 11  Revenue           149116 non-null  float64
 12  Month             149116 non-null  int64
 13  Month.1           149116 non-null  object
 14  Weekday           149116 non-null  int64
 15  Weekday.1         149116 non-null  object
 16  Hour              149116 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(7), object(7)
memory usage: 19.3+ MB

In [ ]:
df.shape

(149116, 17)

2. Identify and drop columns and missing values.

In [ ]:
df.isna().sum()

transaction_id      0
transaction_date    0
transaction_time    0
transaction_qty     0
store_id            0
store_location      0
product_id          0
unit_price          0
product_category    0
product_type        0
product_detail      0
Revenue             0
Month               0
Month.1             0
Weekday             0
Weekday.1           0
Hour                0
dtype: int64

3. Identify unique values from given dataset for each column.

In [ ]:
df.nunique()

transaction_id      149116
transaction_date       181
transaction_time     25762
transaction_qty          6
store_id                 3
store_location           3
product_id              80
unit_price              41
product_category         9
product_type            29
product_detail          80
Revenue                 75
Month                    6
Month.1                  6
Weekday                  7
Weekday.1                7
Hour                    15
dtype: int64

In [ ]:
df['transaction_qty'].unique()

array([2, 1, 3, 4, 8, 6])

In [ ]:
df['Hour'].unique()

array([ 7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,  6, 20])

4. Create new columns for day, month and year

In [ ]:
df['transaction_date'] = pd.to_datetime(df['transaction_date'])

In [ ]:
df['day'] = df['transaction_date'].dt.day
df['month'] = df['transaction_date'].dt.month
df['year'] = df['transaction_date'].dt.year
df.head()

,transaction_id,transaction_date,transaction_time,transaction_qty,store_id,store_location,product_id,unit_price,product_category,product_type,product_detail,Revenue,Month,Month.1,Weekday,Weekday.1,Hour,day,month,year
0,1,2023-01-01,07:06:11,2,5,Lower Manhattan,32,3.0,Coffee,Gourmet brewed coffee,Ethiopia Rg,6.0,1,Jan,7,Sun,7,1,1,2023
1,2,2023-01-01,07:08:56,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,6.2,1,Jan,7,Sun,7,1,1,2023
2,3,2023-01-01,07:14:04,2,5,Lower Manhattan,59,4.5,Drinking Chocolate,Hot chocolate,Dark chocolate Lg,9.0,1,Jan,7,Sun,7,1,1,2023
3,4,2023-01-01,07:20:24,1,5,Lower Manhattan,22,2.0,Coffee,Drip coffee,Our Old Time Diner Blend Sm,2.0,1,Jan,7,Sun,7,1,1,2023
4,5,2023-01-01,07:22:41,2,5,Lower Manhattan,57,3.1,Tea,Brewed Chai tea,Spicy Eye Opener Chai Lg,6.2,1,Jan,7,Sun,7,1,1,2023

5. In cofFee-shop dataset find out sales for each month

In [ ]:
df.groupby('month')['unit_price'].sum()

month
1     59018.04
2     55134.34
3     71833.08
4     85709.58
5    113076.91
6    119571.08
Name: unit_price, dtype: float64

6. In cofFee-shop dataset find out total sales for each product category.

In [ ]:
df.groupby('product_category')['unit_price'].sum()

product_category
Bakery                 80964.14
Branded                13237.00
Coffee                176629.30
Coffee beans           36845.25
Drinking Chocolate     47578.75
Flavours                5432.00
Loose Tea              11213.60
Packaged Chocolate      4407.64
Tea                   128035.35
Name: unit_price, dtype: float64

7. Find out minimum and maximum price values and name of the product.

In [ ]:
df.loc[df['unit_price'] == df['unit_price'].max()][['product_category','unit_price']]

       product_category  unit_price
5182       Coffee beans        45.0
5874       Coffee beans        45.0
5939       Coffee beans        45.0
7616       Coffee beans        45.0
8443       Coffee beans        45.0
...                 ...         ...
144743     Coffee beans        45.0
145411     Coffee beans        45.0
148573     Coffee beans        45.0
148702     Coffee beans        45.0
148784     Coffee beans        45.0

[190 rows x 2 columns]

In [ ]:
df.loc[df['unit_price'] == df['unit_price'].min()][['product_category','unit_price']]

       product_category  unit_price
3254           Flavours         0.8
3291           Flavours         0.8
3318           Flavours         0.8
3325           Flavours         0.8
3331           Flavours         0.8
...                 ...         ...
148994         Flavours         0.8
149013         Flavours         0.8
149031         Flavours         0.8
149059         Flavours         0.8
149115         Flavours         0.8

[6790 rows x 2 columns]

8. Identify top three product categories

In [ ]:
df.groupby('product_category')['unit_price'].sum().sort_values(ascending=False).head(3)

product_category
Coffee    176629.30
Tea       128035.35
Bakery     80964.14
Name: unit_price, dtype: float64

9. How many products are there and being sold in type ‘tea’.

In [ ]:
df.loc[df['product_category'] == 'Tea']['product_category'].nunique()

1

10. Find average unit price of the products.

In [ ]:
df['unit_price'].mean()

3.382219413074385